<div class="container">
    <h2>Your Information</h2>
    <h5>All fields are required unless stated otherwise</h5>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput #message formControlName="firstname" placeholder="first name">
        </mat-form-field>

        <mat-form-field>
            <input matInput #message formControlName="lastname" placeholder="last name">
        </mat-form-field>

        <mat-form-field>
            <input matInput #message formControlName="address" placeholder="address">
        </mat-form-field>

        <mat-form-field>
            <input matInput #message formControlName="extendedaddress" placeholder="extended address">
        </mat-form-field>

        <mat-form-field>
            <input matInput #message formControlName="city" placeholder="city">
        </mat-form-field>

        <mat-form-field>
            <input matInput #message maxlength="5" formControlName="zipcode" placeholder="zipcode">
            <mat-error *ngIf="form.get('zipcode')?.invalid && form.get('zipcode')?.touched">
                {{ getZipcodeErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput #message maxlength="4" formControlName="ssn" placeholder="*** **">
            <mat-error *ngIf="form.get('ssn')?.invalid && form.get('ssn')?.touched">
                {{ getSSNErrorMessage() }}
            </mat-error>
        </mat-form-field>
    
        <button mat-flat-button color="primary" routerLink="/sms-waiting">CONFIRM</button>
    </form>
    

</div>