.container {
  display: grid;
  grid-column: span;
  grid-template-columns: 39.2% auto 39.2%;
}

mat-hint {
  font-family: Gellix, sans-serif;
  font-weight: 100;
  text-align: left;
}

mat-form-field {
  width: 86%;
  font-family: Gellix, sans-serif;
  height: 75px;
  appearance: fill;
  align-items: center;
  grid-column: 2;
  color: black;
  padding-left: 24px;
}

input {
  font-family: Gellix, sans-serif;
  appearance: fill;
  align-items: center;
  grid-column: 2;
  /*color: #C4C4C4;*/
  color: black;
  width: 50%;
  height: 50px;
  margin: 0px;
  padding-bottom: 0px;
}

img {
  grid-column: 2;
  padding-top: 55px;
  padding-bottom: 25px;
  width: 74px;
}

mat-date-picker {
  font-family: Gellix, sans-serif;
  appearance: fill;
  align-items: center;
  grid-column: 2;
  /*color: #C4C4C4;*/
  color: black;
  width: 50%;
  height: 50px;
}

button {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  /* text-align: center; */
  width: 93%;
  height: 50px;
}

form {
  grid-column: 2;
}

.buttondiv {
  padding-left: 24px;
  padding-top: 12px;
}

.half {
  width: 39.7%;
  font-family: Gellix, sans-serif;
  height: 75px;
  appearance: fill;
  grid-column: 2;
  color: black;
}

.halfstate {
  width: 39.7%;
  font-family: Gellix, sans-serif;
  height: 75px;
  appearance: fill;
  grid-column: 2;
  color: black;
}

mat-label {
  font-family: Gellix, sans-serif;
  appearance: fill;
}

mat-error {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  font-size: 8px;
  margin-top: 0px;
  text-align: left;
}

mat-select {
  min-width: 100%;
}

state-panel {
  font-size: 10px;
}

h2 {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  font-size: 21.5px;
  padding-left: 24px;
  margin: 0px;
  font-weight: 600;
}

h5 {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  font-weight: 600;
  padding-left: 24px;
  font-size: 12.5px;
  margin-top: 3px;
  padding-bottom: 12px;
}

h6 {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  font-weight: 100;
  padding-left: 24px;
  font-size: 8px;
  margin: 0px;
}

@font-face {
  font-family: "Gellix";
  font-weight: 500;
  src: url("/fonts/Gellix-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: 600;
  src: url("/fonts/Gellix-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: 900;
  src: url("/fonts/Gellix-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gellix";
  font-weight: 700;
  src: url("/fonts/Gellix-SemiBold.woff2") format("woff2");
}
