<div class="container">
    <h2>Your Information</h2>
    <h5>All fields are required unless stated otherwise</h5>
    <form [formGroup]="form">
        <mat-form-field class="half" appearance="outline" color="primary">
            <mat-label>First Name</mat-label>
            <input matInput #message formControlName="firstname">
        </mat-form-field>

        <mat-form-field class="half" appearance="outline" color="primary">
            <mat-label>Last Name</mat-label>
            <input matInput #message formControlName="lastname">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Address</mat-label>
            <input matInput #message formControlName="address">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Extended Address</mat-label>
            <input matInput #message formControlName="extendedaddress">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>City</mat-label>
            <input matInput #message formControlName="city">
        </mat-form-field>

        <mat-form-field class="half" appearance="outline" color="primary">
            <mat-label>State</mat-label>
            <input matInput #message formControlName="state">
        </mat-form-field>

        <mat-form-field class="half" appearance="outline" color="primary">
            <mat-label>Zip Code</mat-label>
            <input matInput #message maxlength="5" formControlName="zipcode">
            <mat-error *ngIf="form.get('zipcode')?.invalid && form.get('zipcode')?.touched">
                {{ getZipcodeErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Social Security Number</mat-label>
            <input matInput #message maxlength="4" formControlName="ssn" placeholder="*** **">
            <mat-hint>This is required by finance regulations</mat-hint>
            <mat-error *ngIf="form.get('ssn')?.invalid && form.get('ssn')?.touched">
                {{ getSSNErrorMessage() }}
            </mat-error>
        </mat-form-field>
    
        <button mat-flat-button color="primary" routerLink="/verify-success">CONFIRM</button>
    </form>
    

</div>