<div class="container">
    <h3 layout-align="center">Let's begin by finding your info</h3>
    <h5>We can prefill some of this request like your name, address, and contact info for you.</h5>
    <h4>Social Security Number</h4>
    <div></div>
    <!--   divs necessary for grid alignment   -->
    <div></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" color="primary">
            <input id="ssn" name="ssn" formControlName="ssn" matInput placeholder="*** **" maxlength="4" />
            <mat-error *ngIf="form.get('ssn')?.invalid && form.get('ssn')?.touched">
                {{ getSSNErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <h6>By providing the last 4 digits of your SSN, we can expedite your request.</h6>

        <h4>Phone Number</h4>
        <mat-form-field appearance="outline">
            <input id="phoneNumber" formControlName="phoneNumber" matInput placeholder="+1" />
            <mat-error *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
                {{ getPhoneErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <h6 class="second">By clicking 'Continue' you accept our
            <a href="https://www.prove.com/legal/overview#End-User-Terms-Conditions" color="blues" target="_blank">TERMS
                AND CONDITIONS</a>
        </h6>
        <div style="text-align: center;">
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">CONTINUE</button>
        </div>
    </form>
</div>