.main-content {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-grow: 1;
  height: 80vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: transparent;
  z-index: 100;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}

.full-width {
  width: 100%;
}

.ssn-prefix {
  font-weight: bold;
  font-size: 1.5rem;
}

.error-message {
  color: red;
  font-size: 1rem;
}

a {
  font-family: Gellix, sans-serif;
  grid-column: 2;
  text-align: left;
  color: blue;
  font-size: x-small;
}

.second {
  padding-top: 225px;
  font-size: 11.5px;
  margin-bottom: 0px;
  padding-bottom: 18px;
}

.ssn-hint {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 16px;
}

.challenge-title {
  margin: 0;
  font-family: Gellix, sans-serif;
  font-size: 2.125rem;
  line-height: 1.235;
  text-align: left;
  font-weight: 700;
  padding-bottom: 8px;
}

.challenge-subtitle {
  margin: 0;
  font-family: Gellix, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: left;
  font-weight: 700;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.info-text {
  margin: 0;
  font-family: Gellix, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 8px;
  display: flex;
  align-items: center;
}
