.app-layout {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .main-content {
    width: 320px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem;
  font-weight: 600;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
